coco2d_learn/build/*/
coco2d_learn/coco2d_learn.xcodeproj/peteo.mode1v3
coco2d_learn/coco2d_learn.xcodeproj/peteo.pbxuser
coco2d_learn/coco2d_learn.xcodeproj/Peteo.mode1v3
coco2d_learn/coco2d_learn.xcodeproj/Peteo.pbxuser